<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    
</head>
<body>
    
    <p>make sure to click the blue button to make it fullscreen!</p>

</body> 
<iframe frameborder="0" src="https://itch.io/embed-upload/9045241?color=444444" allowfullscreen=""
width="1080" height="800"><a href="https://moo0moo.itch.io/lasercat">Play laserCat on itch.io</a></iframe> 


<div>

    <p>This is my final project for the game dev class I took last semester.</p>
    <p>Its a puzzle game inspired by the real life cat astronaut "felicette".</p>  
    <p> Hope you have fun, using a mouse might be best!</p> 
    
    

</div>



<div class="menu-link">
    <a href="/"> home page </a>
    <p></p>

</div>

    