<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="static/basic.css">
  
</head>
<body>
    <p>make sure to click the blue button to make it fullscreen!</p>
</body> 
<iframe frameborder="0" src="https://itch.io/embed-upload/9042418?color=444444" allowfullscreen="" width="1080"
 height="800"><a href="https://moo0moo.itch.io/moonquake">Play moonquake on itch.io</a></iframe>

 <div>

    <p>I made this project for the NASA space apps challenge: Make a MoonQuake 2.0</p>
       <p>It was made over a period of 48 hours, and we used real data provided by NASA! </p>
       <p>The red dots represent seismic activity on the moon, and they are located on the actual location of where they happened. </p>
       <p>I also included a toggle to see where the apollo missions landed. </p>
       <p>We also included the seismic waveforms created by the moonquakes, and changed the pitch so they could be heard by humans. </p>
</div>


<div class="menu-link">
    <a href="/"> home page </a>
    <p></p>

